# Python
__pycache__/
*.py[cod]
*$py.class
# Temp
.pytest_cache/

# Videos / Models / Large Files
temp_*.mp4
*.pt
*.onnx
uploads/
watchlist/
analytics.db
analytics.db-*
tools/
runtime-config/Ultralytics/*.json

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Temp
.DS_Store
